server {
    listen 80;
    index index.html;
    server_name localhost;
    error_log  /var/log/nginx/error.log;

    root /usr/share/nginx/html;

    location /api {
        proxy_pass http://<backend address>/api;
    }
    location /management {
        proxy_pass http://<backend address>/management;
    }
    location /swagger-resources {
        proxy_pass http://<backend address>/swagger-resources;
    }
    location /v2 {
       proxy_pass http://<backend address>/v2;
    }
    location /auth {
       proxy_pass http://<backend address>/auth;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
