<settings>
    <proxies>
        <proxy>
            <id>httpproxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.ensinfo.sciences.univ-nantes.prive</host>
            <port>3128</port>
        </proxy>
        <proxy>
            <id>httpsproxy</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>proxy.ensinfo.sciences.univ-nantes.prive</host>
            <port>3128</port>
        </proxy>
    </proxies>
</settings>